@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import '~normalize.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #ffd428;
  --color-secondary: #ff8900;
  --color-black: #242a37;
  --color-gray: #f1f2f6;
  --color-white: #ffffff;
  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 6px 6px -2px rgba(0, 0, 0, 0.05);
  --border-radius: 0.35rem;
}

html,
body {
  height: 100vh;
}

body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-white);
  background-color: var(--color-black);
  line-height: 1.3;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
